body
{
    background-color: #999;
}

.container1
{
    background-color: #F00;
    width: 80%;
    height: 80vh;
    position: relative;
    left: 10%;
    margin: 50px 0;
    padding: 50px;
    box-sizing: border-box;

}

.container1-container2
{
    width: 50%;
    height: 100%;
    background-color: #00F;
    display: inline-block;
}

.container1-container3
{
    width: 50%;
    height: 100%;
    background-color: #0F0;
    text-align: center;
    display: inline-block;
    
    position: relative;
    left: 20px;
}