body
{
    background-color: #0F0;
}


.container1
{
    width: 80%;
    height: 80vh;
    background-color: #F00;
    position: relative;
    left: 10%;
    margin-top: 30px;
    padding: 40px;
    box-sizing: border-box;
}

.container1-container2
{
    width: 100%;
    height: 50%;
    background-color: #111;
    margin-bottom: 20px;
}

.container1-container3
{
    width: 100%;
    height: 50%;
    background-color: #00F;
}